
/*----------------Body Area--------------------*/

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background: linear-gradient(267deg, azure, #ffffff, azure, rgb(220, 255, 255), azure);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 26s ease infinite;
    -moz-animation: AnimationName 26s ease infinite;
    -o-animation: AnimationName 26s ease infinite;
    animation: AnimationName 26s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}


/*------------------Div Areas----------------*/

.header {
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 99%;
}

.main {
    position: absolute;
    margin-top: 30px;
    width: 99%;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr; /* Adjust the width of the sidebar as needed */
    grid-gap: 20px; /* Adjust the gap between the sidebar and main page as needed */
}

.grid-main {

}

.grid-sidebar {

}

.footer {
    position: fixed;
    width: 99%;
    bottom: 10px;
    justify-content: center;
    text-align: center;
}

/*------------------Navigation---------------*/

li {
    display: inline;

}

li a{
    padding: 10px;
    color: rgb(93, 93, 93);
    font-size: 20px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    transition: color .4s ease-out;
}


li a:hover {
    color: #8c02d7;
    right: 0;
    text-decoration: none;
}

li a:hover:after {
    border-color: #8c02d7;
    right: 0;
}

li a:hover:after {
    right: 0;
    }

li a:after {
    border-radius: 1em;
    border-top: .1em solid #8c02d7;
    content: "";
    position: absolute;
    right: 100%;
    bottom: 5px;
    left: 0;
    transition: right .3s cubic-bezier(0,.5,0,1),
    border-color .4s ease-out;
}

li a.active {
    color: #8c02d7;
    text-decoration: underline solid #8c02d7 2px;
    text-underline-offset: 8px;
}

.footerNav {
    float: right;
    justify-self: right;
    justify-content: right;
    right: 20px;
}

.footerText {
    display: grid;
    font-size: 25px;
    text-align: center;
    bottom: 1px;
}

/*------------------Classes------------------*/

.title1 {
    font-size: 55px;
    font-weight: bolder;
}

.title2 {
    font-size: 35px;
    font-weight: normal;

}

.title3 {
    font-size: 35px;
    font-weight: normal;
    display: flex;
    margin-left: 100px;
}

.text {
    font-size: 20px;
    display: flex;
}

.hr1 {
    border-top: 1px solid rgb(42, 42, 42);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.hr2 {
    border: none;
    height: 2px;
    border-radius: 17px;
    background-color: rgb(42, 42, 42);
    width: auto;
    margin-left: 100px;
    margin-right: auto;
  }

/*-------------Socials-------------*/

.socialBoxes{
    position: relative;
    width: 99%;
    justify-content: center;
    align-items: center;
}


.socialButton {
    position: relative;
    width: 410px;
    height: 43px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;

    margin: 9px;
    border-radius: 12px;
    border: transparent 2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;

    font-size: 30px;
    font-weight: bold;
    color: white;

    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.socialButton:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-5px) scale(1.02);
}

.socialButton:disabled {
    pointer-events: none;
}

.socialButton:active {
    box-shadow: none;
    transform: translateY(0);
}

.bInsta {
    background: rgb(79,91,213);
    background: linear-gradient(30deg, rgba(79,91,213,1) 0%, rgba(122,76,168,1) 0%, rgba(253,29,29,1) 44%, rgba(253,102,49,1) 74%, rgba(252,176,69,1) 100%);

}

.bLinkedIn {
    background: rgb(0,125,187);
}

.bGitHub {
    background: #22272e;
}

.bSoundCloud {
    background: #F26F23;
}

.bSnapchat {
    background: #FFFC00;
    color: #22272e;
}

.bKilicit {
    background: #ffffff;
    color: #0c0e10;
}

.highlight {
    position: relative;
    width: auto + 20px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-items: center;

    padding: 10px;
    border-radius: 12px;
    border: transparent 2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;

    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.highlight:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-5px) scale(1.02);
}

.highlight:disabled {
    pointer-events: none;
}


