body {
    background-color: #1e1e1e;
    font-family: 'Gill Sans', 'Gill Sans MT';
}

/*----- Header ----- */
#header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    background-color: #2d2d30;  
    border-radius: 14px;
    }

#logo {
  display: flex;
  font-size: 45px;
  margin-right: auto;
  padding-left: 20px;
  color: #EEEEEE;
  text-decoration: none;
}

#welcome {
  display: flex;
  justify-content: space-between;
  border-radius: 14px;
  font-size: 40px;
  color: #d2d2d2;
  margin: auto;
  width: 50%;
  padding: 10px;
  }

.button {
  background-color: #2d2d30;
  color: whitesmoke;
  border: none;
  padding: 10px;
  margin-left: 10px;
  font-size: 25px;
  border-radius: 6px;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: transparent solid 2px;
}

.button:hover {
  border: whitesmoke solid 2px; 
}



/*----- home.php Body -----*/

#searchIcon {
  height: 25px;
  width: 25px;
  background-color: #2d2d30;
  color: whitesmoke;
  border: none;
}

.button2 {
  background-color: #2d2d30;
  color: #2d2d30;
  border: #2d2d30 solid 2px; 
  margin-left: 5px;
  border: transparent solid 2px;
  height: 38.1px;
}

.button2:hover {
  border: whitesmoke solid 2px; 
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: auto;
  font-size: 20px;
  margin-top: 20px;
}

#search input[type="text"] {
  width: 55%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2d2d30;
  color: #d2d2d2;
  font-size: 16px;
  outline: none;
}

#search input:hover {
  box-shadow: 0px 0px 5px #5d5d5e(72, 71, 71);
}


/*----- home.php Genres -----*/
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 30px;
  padding: 90px;
  width: 65%;

  font-size: 20px;

  justify-self: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.box {
  background-color: #2d2d30;
  /*box-shadow: 0px 0px 4px #2d2d2d;*/
  border-radius: 7px;
  border: transparent solid 2px; 

  padding: 10px;
  max-height: 180px;

  text-align: center;
  font-size: 25px;
  
  cursor: pointer;

  align-content: center;
  justify-content: center;
}
.box:hover {
  border: whitesmoke solid 2px; 
}


.box span {               /* Texte innerhalb der kästen */
  margin-top: 10px;     
  color: whitesmoke;
}


/*----- search.php Body -----*/
#infoBoxDiv {
  display: flex;

  align-self: center;
  justify-self: center;
  
  justify-content: space-between;
  justify-items: space-between;

  width: 90%;
  padding: 10px 10px 10px 10px;
}

#infoBox1 {
  background-color: #2d2d30;
  border: solid 2px;

  font-size: 25px;
  
  margin-right: 10px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  text-align: center;

  width: 60%;
  height: 30px;
  color: #d2d2d2;
      }

#infoBox2 {
  background-color: #2d2d30;
  border: solid 2px;

  font-size: 25px;

  margin-right: 10px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  text-align: center;

  width: 30%;
  height: 30px;
  color: #d2d2d2;
      }

#infoBox3 {
  background-color: #2d2d30;
  border: solid 2px;

  font-size: 25px;

  margin-right: 10px;
  justify-content: center;
  align-content: center;
  justify-items: center;
  text-align: center;

  width: 10%;
  height: 30px;
  color: #d2d2d2;
}


/*----- Suchergebnisse -----*/
.movie-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 93%;
  align-items: center;
  align-content: center;
  align-self: center;
  border: 1px #4a4a4a;
  border-radius: 3px;
}

.movie-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #2d2d30;
}

.movie-poster {
  width: 80px;
  margin-right: 20px;
  border-radius: 3px;
}

.movie-details {
  flex: 1;
}

.movie-title {
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 0 5px 0;
  color: whitesmoke;
}

.movie-title:hover {
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}

#movie-title-link {
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 0 5px 0;
  color: whitesmoke;
}

.movie-overview {
  font-size: 15px;
  color: #d2d2d2;
  margin: 0;
}

#detail-title {
  font-size: 34px;
  color: #d2d2d2;
  }


  
/*-----search.php Seitenwahl -----*/
.page {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  justify-content: center;
  font-family: 'Arial';
  font-size: 35px;
  align-items: center;
  color: #d2d2d2;
}

.page-link {
  text-decoration: none;
  color: #d2d2d2;
  font-size: 30x;
}

.prev-page,
.next-page {
  font-size: 45px;
  text-decoration: none;
  color: #d2d2d2;
  padding-left: 10px;
  padding-right: 10px;
}


/*----- Footer / Designwahl-----*/

.footer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.footer a {
  font-family: 'Gill Sans', 'Gill Sans MT';
  color: whitesmoke;
  font-size: 20x;
  margin: 4px;
}

.input {
  background-color: transparent;
  color: azure;
  border: none;
}
