body {
  font-family: 'Gill Sans', 'Gill Sans MT';
  background-color: #1e1e1e;
}

h2 {
  text-align: center;
  color: whitesmoke;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: whitesmoke;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT';
  background-color: #2d2d30;
  color: #d2d2d2;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  box-shadow: 0px 0px 5px #5d5d5e(72, 71, 71);
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #2d2d30;
  color: white;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT';
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #2d2d30;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  border: 2px solid whitesmoke;
}

.aa {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  font-size: 19px;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}

.alert {
  color: #FF0000;
  font-weight: bold;
  margin-bottom: 10px;
}