body { text-align: center; padding: 10%; font: 20px 'Montserrat', monospace; color: #343434; }
h1 { font-size: 50px; margin: 0; }
article { display: block; text-align: left; max-width: 650px; margin: 0 auto; }
a { color: #b16700; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }
@media only screen and (max-width : 480px) {
    h1 { font-size: 40px; }
}

.fa { 
    border-radius: 100%;
    font-size: 24px;
    margin-right: 7px;
    transition: transform 0.4s;
}

.fa:hover {
    transform: scale(1.2, 1.2);
}